 
<div style="width:800px; margin:0 auto; margin-top:200px;">
    <h1>Welcome to Ecommerce</h1>
    <h2>Already a user</h2>
    <button ><a href='/login'>Sign In</a></button>
    <h2>New to website??? </h2>
    <button><a href='/register'>Sign Up</a></button>
</div>